/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-08-2016, 12:36:01
    Author     : Stegger
*/

#pane {
    -fx-background-color: #2b2d42;
}

.title {
    -fx-text-fill: #d90429;
}

.btns {
    -fx-background-color: #edf2f4;
    -fx-text-fill: #d90429;
}